ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

a {
    display: block;
    padding: 8px;
}

.center {
    display: block;
    margin: auto;
}