.container {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.header-nav {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.header-nav > a {

}

.main-nav {
    display: flex;

}