* {
  color: white;
}

html {
  background: url('./assets/images/background-image.jpg') no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-family: 'Mulish Regular', sans-serif;
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

.title {
  text-align: center;
  margin-top: 300px;
}

.dashboard-copy {
  font-family: 'Mulish Light', sans-serif;
  width: 50vw;
  margin: auto;
}

@font-face {
  font-family: 'Mulish Light';
  src: url('./assets/fonts/Mulish-Light.ttf');
}

@font-face {
  font-family: 'Mulish Regular';
  src: url('./assets/fonts/Mulish-Regular.ttf');
}

@font-face {
  font-family: 'Mulish Medium';
  src: url('./assets/fonts/Mulish-Medium.ttf');
}

@font-face {
  font-family: 'Mulish SemiBold';
  src: url('./assets/fonts/Mulish-SemiBold.ttf');
}

@font-face {
  font-family: 'Mulish Bold';
  src: url('./assets/fonts/Mulish-Bold.ttf');
}
